In [11]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as pltpip 
import seaborn as sns

df = pd.read_excel ("Datos de Facturación.xlsx")
df

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [74]:
filtro1 = df.loc[1000:2000,"CVE_CLPV"]
filtro1

1000      85
1001    6205
1002    6205
1003    4029
1004    3577
        ...
1996    7090
1997    3806
1998    3806
1999    3806
2000    7020
Name: CVE_CLPV, Length: 1001, dtype: int64

In [5]:
filtro1.to_csv("Filtro 1.csv")

**En este flitro lo que se ocupo fue el loc**
Se ocupo el loc porque asi puedo mostrar datos de esa columna obviamente con la restriccion de que solo sean datos del 1000 al 2000

In [14]:
filtro2 = df[~((df['CVE_VEND'] == 4) | (df['CVE_VEND'] == 5))]
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [15]:
filtro2.to_csv("Filtro 2.csv")

**En este filtro se ocupo dos tipos de filtros**
En este se ocupo el filtro de negacion el la accion de negar '~' y una con la puedo decir que se dice ni a ni b donde se hace la negacion de que no se requiere ni el 4 ni el 5 en CVE_VEND y asi se pudo hacer dicha negacion

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  int64
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10885 non-null  datetime64[ns]
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](5), float64(4), int64(1), object(2)
memory usage: 1021.5+ KB

In [56]:
df['FECHA_ENT'] = pd.to_datetime(df['FECHA_ENT'], format='%d/%m/%Y', errors='coerce')
filtro3=df[(df["FECHA_ENT"] == "2022-02-28")]
filtro3

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
8077,F37493,4598,E,1.0,2022-02-28 10:56:02.460,2022-02-28,2022-02-28,2022-03-30,NaT,44259.0000,0.0,0.0
8078,F37494,1943,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
8081,F37497,1943,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
8083,F37499,8573,E,2.0,2022-02-28 12:25:29.833,2022-02-28,2022-02-28,2022-02-28,NaT,997.5400,0.0,0.0
8084,F37500,8249,E,2.0,2022-02-28 12:32:46.687,2022-02-28,2022-02-28,2022-02-28,NaT,2508.7000,0.0,0.0
8090,F37506,1757,E,2.0,2022-02-28 13:23:45.440,2022-02-28,2022-02-28,2022-02-28,NaT,2586.2100,0.0,0.0
8091,F37507,3108,E,2.0,2022-02-28 13:52:43.383,2022-02-28,2022-02-28,2022-02-28,NaT,675.4000,0.0,0.0
8092,F37508,6232,E,2.0,2022-02-28 14:46:56.940,2022-02-28,2022-02-28,2022-02-28,NaT,941.3965,0.0,0.0
8095,F37511,8593,E,2.0,2022-02-28 15:20:58.040,2022-02-28,2022-02-28,2022-02-28,NaT,218.9700,0.0,0.0
8096,F37512,4766,E,2.0,2022-02-28 15:54:16.277,2022-02-28,2022-02-28,2022-02-28,NaT,9450.0000,0.0,0.0
8100,F37516,6179,E,3.0,2022-02-28 16:33:54.413,2022-02-28,2022-02-28,2022-02-28,NaT,5951.7000,0.0,0.0
8103,F37519,5150,E,3.0,2022-02-28 17:09:39.213,2022-02-28,2022-02-28,2022-02-28,NaT,2040.0000,0.0,0.0
8104,F37520,4527,E,2.0,2022-02-28 17:14:57.487,2022-02-28,2022-02-28,2022-02-28,NaT,4315.0000,0.0,0.0
8107,F37523,5926,E,2.0,2022-02-28 17:36:54.363,2022-02-28,2022-02-28,2022-02-28,NaT,451.6100,0.0,0.0
8133,F37549,3016,E,1.0,2022-03-04 15:08:49.747,2022-03-04,2022-02-28,2022-03-04,NaT,1083.7200,0.0,0.0
8148,F37564,4695,E,1.0,2022-03-08 09:15:20.507,2022-03-08,2022-02-28,2022-05-07,NaT,5515.0000,0.0,0.0
8204,F37620,8316,E,3.0,2022-03-14 17:00:43.247,2022-03-14,2022-02-28,2022-03-14,NaT,24570.3000,0.0,0.0

In [57]:
filtro3.to_csv("Filtro 3.csv")

**En este filtro se utlizo el mostrar los datos de la columna FECHA_ENT**
Pero en este caso se ocupo transformar los datos a tipo fecha ya que estaban en tipo object entonces al mostrar si el cambio de tipo no mostraba nada entonces tuve que investigar de como realizar el cambio de tipo ya que tambien tenian una parte mas la utc

In [76]:
filtro4 = df[(df["CAN_TOT"]< 5951.7) & (df["STATUS"] == "E")]
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
5,F29419,2465,E,1.0,2019-09-04 09:15:12.000,2019-09-04,2019-09-04,2019-09-19,NaT,3979.9980,0.0,0.0
7,F29421,6828,E,2.0,2019-09-04 10:56:44.000,2019-09-04,2019-09-04,2019-09-04,NaT,402.5900,0.0,0.0
10,F29424,5926,E,2.0,2019-09-04 12:36:15.000,2019-09-04,2019-09-03,2019-09-04,NaT,462.3100,0.0,0.0
11,F29425,5926,E,2.0,2019-09-04 13:03:04.000,2019-09-04,2019-09-02,2019-09-04,NaT,1144.4300,0.0,0.0
13,F29427,6829,E,2.0,2019-09-04 13:44:13.000,2019-09-04,2019-09-04,2019-09-04,NaT,157.7580,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10889,F40305,4990,E,2.0,2023-03-06 16:06:24.050,2023-03-06,2023-03-03,2023-03-06,NaT,3697.2504,0.0,0.0
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01,2023-03-06,NaT,3272.0000,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06,2023-03-06,NaT,275.6800,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07,2023-03-07,NaT,129.3000,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01,2023-03-07,NaT,517.2000,0.0,0.0

In [77]:
filtro4.to_csv("Filtro 4.csv")

**En este filtro se genero por parte de la columna CANT_TOT y STATS se realizo una condicion para mostar ambas opciones**
En este filtro se genero con una condicion donde solo van a salir valores menores a 5951.7 o al STATUS E aplicando ambas condiciones se obtiene lo anterior

In [80]:
filtro5 = df[["CVE_DOC", "FECHA_ENT", "FECHA_VEN", "CAN_TOT"]]
filtro5

      CVE_DOC  FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414 2019-09-03 2019-09-18  3980.00
1      F29415 2019-09-03 2019-10-03  1550.00
2      F29416 2019-09-03 2019-10-03  1550.00
3      F29417 2019-09-03 2019-10-03  1550.00
4      F29418 2019-09-03 2019-09-03  2435.44
...       ...        ...        ...      ...
10890  F40306 2023-03-01 2023-03-06  3272.00
10891  F40307 2023-03-06 2023-03-06   504.15
10892     NaN 2023-03-06 2023-03-06   275.68
10893  F40309 2023-03-07 2023-03-07   129.30
10894  F40310 2023-03-01 2023-03-07   517.20

[10895 rows x 4 columns]

In [81]:
filtro5.to_csv("Filtro 5.csv")

**En este filtro se generaron solo las tablas CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT**
En este caso se ocupo un solo df y dos [[]] para poder hacer la ejecucion de solo esas columnas

In [82]:
filtro6 = df.iloc[7001:7099, :]
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F36417,5271,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06,2021-11-14,NaT,8555.24,0.0,0.0
7002,F36418,5746,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14,2021-10-15,NaT,620.77,0.0,0.0
7003,F36419,2163,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15,2021-10-15,NaT,560.00,0.0,0.0
7004,F36420,1429,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15,2021-12-14,NaT,23625.00,0.0,0.0
7005,F36421,5039,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08,2022-01-13,NaT,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7094,F36510,4480,E,2.0,2021-10-27 13:01:57.527,2021-10-27,2021-10-21,2021-11-11,NaT,2904.40,0.0,0.0
7095,F36511,4480,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27,2021-11-11,NaT,1137.50,0.0,0.0
7096,F36512,8186,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27,2021-10-27,NaT,94.84,0.0,0.0
7097,F36513,4403,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27,2021-10-27,NaT,847.00,0.0,0.0
7098,F36514,5589,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27,2021-10-27,NaT,965.00,0.0,0.0

In [83]:
filtro6.to_csv("Filtro 6.csv")

**En este filtro se pidio mostar del 7001 al 7099**
En este caso se mostro con lo de iloc ya que son valores enteros y no hay otra restriccion para poder utilizar el mismo

In [85]:
df1=pd.read_excel('Datos de Facturación.xlsx',index_col=3)
df1

,CVE_DOC,CVE_CLPV,STATUS,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
CVE_VEND,,,,,,,,,,,
1.0,F29414,2465,C,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1.0,F29415,3926,C,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,F29416,3926,C,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
1.0,F29417,3926,C,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
2.0,F29418,6813,C,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2.0,F40306,8842,E,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
2.0,F40307,6218,NaN,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
2.0,NaN,5926,E,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
2.0,F40309,361,E,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
2.0,F40310,3011,E,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [91]:
filtro7 = df[["CVE_VEND", "FECHAELAB"]][(df["CVE_VEND"] == 1.0) | (df["CVE_VEND"] == 2.0)]
filtro7

       CVE_VEND               FECHAELAB
0           1.0 2019-09-03 08:58:42.000
1           1.0 2019-09-03 09:55:14.000
2           1.0 2019-09-03 13:25:33.000
3           1.0 2019-09-03 13:33:23.000
4           2.0 2019-09-03 14:23:45.000
...         ...                     ...
10890       2.0 2023-03-06 16:09:39.013
10891       2.0 2023-03-06 16:38:42.933
10892       2.0 2023-03-06 17:02:33.390
10893       2.0 2023-03-07 12:43:49.567
10894       2.0 2023-03-07 12:45:58.407

[8665 rows x 2 columns]

In [92]:
filtro7.to_csv("Filtro 7.csv")

**En este filtro se muestra el como hacer un index con una columna y a su vez ocupar valores de sus filas para poder hacer una condicion con otra columna**
En esto se puede ver que se realiza dos tipos de condiciones que a su vez no solo es una si no dos donde se muestran ambas columnas nada mas y de ahi se reliza otra condicion con los valores de la columna CVE_VEND con valores de 1 y 2, como solo se muestran ambas columnas ya no hay necesidad de mostar otra ya que se muestra lo que se cumple con dicha condicion